.kpi-card {
    padding: 30px;
    /* border: 1px solid black; */
    background-color: #161B22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-weight: bold;
    white-space: nowrap;

}

.kpi-card-icon svg {
    font-size: 1.5rem;
}