.rental {
    /* margin: 20px; */
    /* height: 100vh; */

}

.rental-container {
    /* height: 100vh; */
    display: flex;
    width: 100%;
    gap: 20px;
}

.rental-sidebar {
    padding: 20px;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background-color: #161B22;
}

.rental-sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.rental-sidebar-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0; 
    cursor: pointer;
    transition: 0.25s;
}

.rental-sidebar-item:hover {
    transform: translateY(-2px);
}

.rental-sidebar-item svg {
    color: #D9D9D9;
    width: 24px;
    height: 24px;
}

.rental-icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stock main starts here */
.rental-main {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #161B22;
}

.rental-navbar {
    display: flex;
    justify-content: space-between;
}

.rental-navbar-search {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
    padding: 8px 16px;
    width: 300px;
    margin-right: 10px;
    height: fit-content;
}

.rental-navbar-search svg {
    cursor: pointer;
}

#rental-search {
    width: 100%;
    border: none;
    outline: none;
    flex: 1;
    background: none;
    color: white;
}

.rental-navbar-options {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.rental-navbar-option {
    color: #777;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #777;
}

.rental-navbar-options div.active {
    color: white;
    background-color: black;
}

.rental-table {
    width: 100%;
}

.rental-table th, .rental-table td {
    text-align: left;
    padding: 10px;  
    border-bottom: 1px solid #ddd;
}

.rental-table svg {
    cursor: pointer;
}

/* Stock main ends here */
