.stock {
    margin: 20px;
}

.stock-container {
    display: flex;
    width: 100%;
    gap: 40px;
}

.stock-sidebar {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid black;
    
}

.stock-sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.stock-sidebar-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0; 
    cursor: pointer;
    transition: 0.25s;
}

.stock-sidebar-item:hover {
    transform: translateY(-2px);
}

.stock-sidebar-item svg {
    color: #D9D9D9;
    width: 24px;
    height: 24px;
}

.stock-icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stock main starts here */
.stock-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.stock-navbar {
    display: flex;
    justify-content: space-between;
}

.stock-navbar-search {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 8px 16px;
    width: 300px;
    margin-right: 10px;
    height: fit-content;
}

.stock-navbar-search svg {
    cursor: pointer;
}

#stock-search {
    width: 100%;
    border: none;
    outline: none;
    flex: 1;
}

.stock-navbar-options {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.stock-navbar-option {
    color: #777;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #777;
}

.stock-navbar-options div.active {
    color: white;
    background-color: black;
}
/* Stock main ends here */
