
.admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.admin-linechart {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #161B22;
    font-weight: bold;
}

.admin-linechart p {
    font-size: 16px;
    margin-bottom: 10px;
}

.admin-linechart span {
    font-size: 24px;
}