@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  height: 100%;
  /* box-sizing: border-box; */
  /* font-family: "Poppins", sans-serif; */
  background-color: #0D1117;
  font-family: Arial, sans-serif;
  /* font-family: 'Inter', sans-serif; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

input[type="range"] {
  cursor: grab;
  accent-color: black;
}

input[type="checkbox"] {
  accent-color: black;
}

svg {
  width: auto !important;
  min-width: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 5px;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: #2A2A2A;
    border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


/* non-Latin language (e.g. Arabic) read texts from right to left */
body[dir="rtl"] {
    text-align: right;
    direction: rtl;
}

body[dir="rtl"] .navbar {
    flex-direction: row-reverse;
}

body[dir="rtl"] .navbar .navbar-right {
    margin-left: 0;
    margin-right: auto;
}

body[dir="rtl"] .modal, body[dir="rtl"] .login, body[dir="rtl"] .register {
    direction: rtl;
}
