.admin {
    overflow-x: hidden;
    /* white-space: nowrap; */
    background-color: #0D1117;
    color: white;
    /* height: 100%; */
    min-height: 100vh;
}

.admin-container {
    display: flex;
    /* height: 100%; */
    min-height: 100vh;
}

.admin-sidebar {
    width: 18%;
    padding: 10px 20px;
    background-color: #161B22;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-sidebar h1 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.admin-sidebar-header {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-sidebar-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}

.admin-sidebar-profile svg {
    font-size: 60px;
}

.admin-sidebar-profile-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.admin-sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.admin-sidebar-items p {
    margin: 10px 0;
    color: gray;
}

.admin-sidebar-items span {
    font-size: 16px;
}

.admin-sidebar-items button {
    padding: 0;
    background: none;
    border: none;
}

.admin-sidebar-data {
    display: flex;
    align-items: center;
    gap: 8px;
    /* padding: 8px 0; */
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.admin-sidebar-data.active {
    color: #3B82F6;
}

.admin-sidebar-data p {
    font-size: 14px;
}

.admin-sidebar-data:hover {
    color: #60A5FA;
    transform: translateY(-1.5px);
}

.admin-sidebar-data svg {
    /* width: 24px;
    height: 24px; */
    font-size: 18px;
}

.admin-icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Admin main starts here */
.admin-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.admin-navbar {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.admin-navbar-links {
    display: flex;
    gap: 15px;
}

.admin-navbar-link svg {
    font-size: 1.2rem;
}

.admin-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 25px;
}

/* .admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.admin-linechart {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #161B22;
    font-weight: bold;
}

.admin-linechart p {
    font-size: 16px;
    margin-bottom: 10px;
}

.admin-linechart span {
    font-size: 24px;
} */
/* Admin main ends here */

