.admin {
    /* margin: 20px 20px; */
}

.admin-container {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
    /* width: 20%; */
    padding: 10px 20px;
    border-right: 1px solid #ccc;
}

.admin-sidebar h1 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.admin-sidebar-item {
    white-space: nowrap;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.25s;
}

.admin-sidebar-item:hover {
    transform: translateY(-4px);
}

.admin-icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-sidebar-item svg {
    width: 24px;
    height: 24px;
}

/* Admin main starts here */
.admin-navbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.admin-navbar-links {
    display: flex;
    gap: 15px;
}

.admin-navbar-link svg {
    font-size: 1.2rem;
}

.admin-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 25px;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.admin-linechart {
    border: 1px solid black;
    /* width: 40%; */
    height: 400px;
    padding: 10px;
}
/* Admin main ends here */

