.home {
    margin: 20px;
}

.home-container {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 50px;
}


/* Home sidebar starts here */
.home-sidebar {
    min-width: 15%;
    max-width: 15%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px 8px;
}

.home-sidebar-keyword {
    display: flex;
    gap: 10px;
    margin: 12px 6px;
}

.home-sidebar-keyword p {
    font-size: 12px;
    font-weight: bold;
    background-color: #cacaca;
    border-radius: 10px;
    padding: 5px;
}

.home-sidebar-options {

}

.home-sidebar-item {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 12px;
}

.home-sidebar-item input[type="checkbox"] {
    /* margin-right: 10px; */
    /* margin-top: 6px; */
    accent-color: black;
}

.home-sidebar-info {

}

#home-sidebar-label {
    font-weight: bold;
}

#home-sidebar-description {
    color: #777;
    font-size: 14px;
}

.home-sidebar-price div {
    /* margin: 5px 0; */
}

.home-sidebar-price input[type="range"] {
    width: 100%;
    accent-color: black;
}

.home-sidebar-price-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.home-sidebar-price-range {
    font-size: 12px;
    margin: 6px 0;
}

.home-sidebar-price-values {
    display: flex;
    justify-content: space-between;
    color: #777;
}

.home-sidebar-label {
    display: flex;
}

.home-sidebar-label input[type="range"] {
    accent-color: black;
}
/* Home sidebar ends here */

/* Home Main starts here */
.home-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-navbar {
    display: flex;
    justify-content: space-between;
}

.home-navbar-search {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 8px 16px;
}

#home-search {
    border: 0;
}

.home-navbar-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.home-navbar-options p {
    color: #777;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.home-navbar-options p.active {
    color: white;
    background-color: black;
}

.home-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    width: 100%;
    gap: 25px;
}

.home-list-card {
    padding: 15px;
    border: 1px solid black;
    /* min-width: 300px; */
    /* max-width: 300px; */
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.home-list-card-image {
    /* height: 320px; */
    aspect-ratio: 3 / 4;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.home-list-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.home-list-card-content {
    padding: 5px;
}

.home-list-card-content h2 {
    margin: 0;
}
/* Home Main  ends here */