.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +2000;
}

.login {
    width: 40%;
    height: 50%;
    padding: 20px;
    background-color: white;
    z-index: +100;
    border: 1px solid black;
}

.login-container {

}

.login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-header svg {
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form input {
    width: 100%;
}

.login-submit {
    width: 100%;
    cursor: pointer;
    background-color: #0D0D0D;
    color: white;
    font-weight: 800;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

