.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +2000;
}

.login {
    color: white;
    max-width: 500px;
    width: 100%;
    /* height: 80%; */
    padding: 30px 20px;
    background-color: #161B22;
    z-index: +100;
    border: 1px solid #323c4c;
    text-align: center;
    border-radius: 6px;
}

.login-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}

.login-header svg {
    cursor: pointer;
}

.login-logo-title {
    margin-bottom: 40px;
}

.login-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.login-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 20px 100px; */
}

.login-form input {
    background: none;
    width: 100%;
    padding: 14px 10px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 14px;
    outline: none;
    transition: 0.25s;
}

.login-form input:focus {
    border-color: #fff;
    outline: none
}

.login-form input:-webkit-autofill,
.login-form input:-webkit-autofill:hover,
.login-form input:-webkit-autofill:focus,
.login-form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #161B22 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid #333;
}

.login-submit {
    width: 100%;
    cursor: pointer;
    background-color: #1f6feb;
    color: white;
    font-weight: 800;
    border: none;
    padding: 12px;
    border-radius: 6px;
    margin: 10px 0;
    transition: 0.25s;
}

.login-submit:hover {
    background-color: #2f6ac3;
}

.login-option span {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.login-terms {
    margin-top: 10px;
}

.login-terms p {
    color: #777;
}

.login-terms span {
    color: white;
    /* text-decoration: underline; */
}

