.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +2000;
}

.register {
    max-width: 500px;
    width: 100%;
    /* height: 80%; */
    padding: 40px 20px;
    background-color: white;
    z-index: +100;
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
}

.register-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    
}

.register-header {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}

.register-header svg {
    cursor: pointer;
}

.register-logo-title {
    margin-bottom: 10px;
}

.register-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.register-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 20px 100px; */
}

.register-form input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.register-name {
    display: flex;
    gap: 20px;
    width: 100%;
}

.register-name div {
    width: 100%;
}

.register-submit {
    width: 100%;
    cursor: pointer;
    background-color: #0D0D0D;
    color: white;
    font-weight: 800;
    border: none;
    padding: 12px;
    border-radius: 6px;
    margin: 10px 0;
}

.register-terms {
    margin-top: 10px;
}

.register-terms p {
    color: #777;
}

.register-terms span {
    color: black;
    /* text-decoration: underline; */
}

