.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +2000;
}

.register {
    color: white;
    max-width: 500px;
    width: 100%;
    /* height: 80%; */
    padding: 30px 20px;
    background-color: #161B22;
    z-index: +100;
    border: 1px solid #323c4c;
    text-align: center;
    border-radius: 6px;
}

.register-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    
}

.register-header {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}

.register-header svg {
    cursor: pointer;
}

.register-logo-title {
    margin-bottom: 10px;
}

.register-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.register-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 20px 100px; */
}

.register-form input {
    background: none;
    width: 100%;
    padding: 14px 10px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 14px;
    outline: none;
    transition: 0.25s;
}

.register-form input:focus {
    border-color: #fff;
    outline: none
}

.register-form label {
    position: absolute;
    left: 12px;
    top: 14px;
    color: #aaa;
    font-size: 14px;
    pointer-events: none;
    transition: 0.25s ease all;
    background-color: #161B22;
    padding: 0 4px;
    z-index: 1;
}

.register-name {
    display: flex;
    gap: 20px;
    width: 100%;
}

.register-name div {
    width: 100%;
}

.register-submit {
    width: 100%;
    cursor: pointer;
    background-color: #1f6feb;
    color: white;
    font-weight: 800;
    border: none;
    padding: 12px;
    border-radius: 6px;
    margin: 10px 0;
    transition: 0.25s;
}

.register-submit:hover {
    background-color: #2f6ac3;
}

.register-terms {
    margin-top: 10px;
}

.register-terms p {
    color: #777;
}

.register-terms span {
    color: white;
    /* text-decoration: underline; */
}

